@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$default_font: 'Open Sans';
$white_color: #FEFEFE;
$font-color: #46566F;
$border-color: #EAE8E8;
$pink_color: #FAF2F2;
$price_color: #CF451A;
